/*  Cote edition  */

.ckeditor5-toolbar-button-simpleBox {
  background-image: url(../icons/ephotoDamIcon.svg);
  background-size: contain;
}

.ephoto_dam_caption {
  padding: 0;
  text-align: center;
  border-top: 1px solid #ccc;
  background: #f3f3f3;
  display: block;
  font-size: small;
  margin-top: 0.5ex;
  font-style: italic;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
}

.ckeditor_ephoto_dam {
  width: 100%;
  position: relative;
}

#hidden {
  display: none;
}

.ckeditor_ephoto_dam>p {
  margin-top: 0;
}

.cke_reset_all table {
  table-layout: auto;
}

.cke_reset_all,
.cke_reset_all *,
.cke_reset_all a,
.cke_reset_all textarea {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  width: auto;
  height: auto;
  vertical-align: baseline;
  box-sizing: content-box;
  position: static;
  transition: none;
  border-collapse: collapse;
  font: normal normal normal 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
  color: #000;
  text-align: left;
  white-space: nowrap;
  cursor: auto;
  float: none;
}

.cke_dialog {
  visibility: visible;
}
.cke_dialog_container {
  position: fixed;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10010;
}

tr,
.draggable-table.tabledrag-disabled tr {
  color: #232429;
  background: #fff;
}

.cke_reset_all .cke_dialog_body {
  position: relative;
  border: 0;
  border-radius: 0;
  background: none;
}

.cke_dialog_body {
  position: relative;
}
.cke_dialog_body {
  z-index: 1;
  background: #fff;
}

.cke_reset_all .cke_dialog_body * {
  font: 0.8125rem/1.538em BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.cke_reset_all .cke_dialog_title {
  padding: 0.9375rem 3.0625rem 0.9375rem 0.9375rem;
  color: #fff;
  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #6b6b6b;
  box-shadow: none;
  text-shadow: none;
  font-size: 1.3344em;
  font-weight: 600;
  line-height: 1.315em;
  -webkit-font-smoothing: antialiased;
}


.cke_dialog_title {
  font-weight: bold;
  font-size: 12px;
  cursor: move;
  position: relative;
  color: #484848;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px 19px 12px 12px;
  background: #f8f8f8;
  letter-spacing: .3px;
}

.cke_reset_all .cke_dialog .cke_dialog_close_button {
  top: 1rem;
  right: 1.25rem;
  width: 1rem;
  height: 1rem;
  opacity: 1;
  background: url("data:image/svg+xml,%3csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m3.51 13.925c.194.194.512.195.706.001l3.432-3.431c.194-.194.514-.194.708 0l3.432 3.431c.192.194.514.193.707-.001l1.405-1.417c.191-.195.189-.514-.002-.709l-3.397-3.4c-.192-.193-.192-.514-.002-.708l3.401-3.43c.189-.195.189-.515 0-.709l-1.407-1.418c-.195-.195-.513-.195-.707-.001l-3.43 3.431c-.195.194-.516.194-.708 0l-3.432-3.431c-.195-.195-.512-.194-.706.001l-1.407 1.417c-.194.195-.194.515 0 .71l3.403 3.429c.193.195.193.514-.001.708l-3.4 3.399c-.194.195-.195.516-.001.709l1.406 1.419z' fill='%23fff'/%3e%3c/svg%3e") 0 0 no-repeat;
}

.cke_ltr .cke_dialog_close_button {
  right: 12px;
}

a.cke_dialog_close_button {
  background-image: url(../icons/close.png);
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  cursor: pointer;
  text-align: center;
  height: 16px;
  width: 16px;
  top: 11px;
  z-index: 5;
  opacity: .7;
  filter: alpha(opacity = 70);
}

.cke_reset_all .cke_dialog .cke_label {
  display: none;
}
.cke_dialog_body .cke_label {
  display: none;
}
.cke_single_page .cke_dialog_tabs {
  display: none;
}

.cke_dialog_tabs {
  height: 33px;
  display: inline-block;
  margin: 9px 0 0;
  position: absolute;
  z-index: 2;
  left: 11px;
}

a.cke_dialog_tab_selected {
  background: #fff;
  border-bottom-color: #fff;
  cursor: default;
  filter: none;
}

a.cke_dialog_tab {
  height: 25px;
  padding: 4px 8px;
  display: inline-block;
  cursor: pointer;
  line-height: 26px;
  outline: 0;
  color: #484848;
  border: 1px solid #d1d1d1;
  border-radius: 3px 3px 0 0;
  background: #f8f8f8;
  min-width: 90px;
  text-align: center;
  margin-left: -1px;
  letter-spacing: .3px;
}

.cke_single_page .cke_dialog_contents {
  padding-top: 5px;
  margin-top: 0;
  border-top: 0;
}
.cke_reset_all .cke_dialog_contents {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cke_reset_all .cke_dialog_contents_body {
  padding: 1em;
}

.cke_dialog_contents_body {
  overflow: auto;
  padding: 9px 10px 5px 10px;
  margin-top: 22px;
}

.cke_dialog_ui_vbox table,
.cke_dialog_ui_hbox table {
  margin: auto;
}

.cke_dialog_ui_vbox_child {
  padding: 5px 0;
}

.cke_dialog_contents_body .cke_dialog_ui_text,
.cke_dialog_contents_body .cke_dialog_ui_select,
.cke_dialog_contents_body .cke_dialog_ui_hbox_last>a.cke_dialog_ui_button {
  margin-top: 4px;
}

.cke_reset_all .cke_dialog_body label {
  display: table;
  margin: 0 0 0.1em;
  padding: 0;
  font-weight: bold;
}

.cke_dialog_body label {
  display: inline;
  cursor: default;
  letter-spacing: .3px;
}

.cke_dialog_ui_labeled_label {
  margin-left: 1px;
}

.cke_dialog_body label+.cke_dialog_ui_labeled_content {
  margin-top: 2px;
}

.cke_reset_all .cke_dialog_body .cke_dialog_ui_input_text,
.cke_reset_all .cke_dialog_body .cke_dialog_ui_input_textarea,
.cke_reset_all .cke_dialog_body div.cke_dialog_ui_input_select {
  border: 0;
}

.cke_reset_all .cke_dialog_body textarea,
.cke_reset_all .cke_dialog_body input[type="text"],
.cke_reset_all select.cke_dialog_ui_input_select {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 0 0.1875rem;
  padding: 0.3em 0.4em 0.3em 0.5em;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  color: #595959;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  border-radius: 2px;
  background: #fcfcfa;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.125);
  font-size: 1em;
  line-height: normal;
}

.cke_reset_all textarea,
.cke_reset_all input[type="text"],
.cke_reset_all input[type="password"] {
  cursor: text;
}

input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password,
input.cke_dialog_ui_input_tel,
textarea.cke_dialog_ui_input_textarea {
  background-color: #fff;
  border: 1px solid #bcbcbc;
  padding: 4px 6px;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  min-height: 28px;
  margin-left: 1px;
}

.cke_dialog_ui_hbox {
  width: 100%;
  margin-top: 12px;
}

.cke_ltr .cke_dialog_ui_hbox_first,
.cke_ltr .cke_dialog_ui_hbox_child {
  padding-right: 10px;
  display: inline-flex;
}

.cke_dialog_ui_hbox_first,
.cke_dialog_ui_hbox_child,
.cke_dialog_ui_hbox_last {
  vertical-align: top;
  display: inline-flex;
}

input.cke_dialog_ui_checkbox_input,
input.cke_dialog_ui_radio_input {
  margin-left: 1px;
  margin-right: 10px;
}

.cke_dialog_ui_checkbox,
.cke_dialog fieldset .cke_dialog_ui_vbox .cke_dialog_ui_checkbox {
  display: inline-block;
}

.cke_dialog_ui_checkbox .cke_dialog_ui_checkbox_input,
.cke_dialog_ui_checkbox .cke_dialog_ui_checkbox_input+label,
.cke_dialog fieldset .cke_dialog_ui_vbox .cke_dialog_ui_checkbox .cke_dialog_ui_checkbox_input,
.cke_dialog fieldset .cke_dialog_ui_vbox .cke_dialog_ui_checkbox .cke_dialog_ui_checkbox_input+label {
  vertical-align: middle;
}

.cke_reset_all .cke_dialog .cke_dialog_footer {
  margin: 0;
  padding: 0.9375rem 1.25rem;
  text-align: left;
  border: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  background: #f5f5f2;
}

.cke_dialog_footer {
  text-align: right;
  position: relative;
  border-top: 1px solid #d1d1d1;
  background: #f8f8f8;
}

.cke_reset_all .cke_dialog .cke_resizer {
  display: none;
}

.cke_dialog .cke_resizer_ltr {
  margin-right: 5px;
}
.cke_dialog .cke_resizer {
  margin-top: 22px;
}

.cke_resizer_ltr {
  cursor: se-resize;
  float: right;
  margin-right: -4px;
}

.cke_resizer {
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 10px 10px 0 0;
  border-color: transparent #bcbcbc transparent transparent;
  border-style: dashed solid dashed dashed;
  font-size: 0;
  vertical-align: bottom;
  margin-top: 6px;
  margin-bottom: 2px;
}


.cke_reset_all .cke_dialog_footer_buttons {
  margin: 0;
}

.cke_dialog_footer_buttons {
  display: inline-table;
  margin: 5px;
  width: auto;
  position: relative;
  vertical-align: middle;
}

.cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first,
.cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_child {
  padding-right: 5px;
}

.cke_dialog_footer_buttons td {
  float: right;
}

.cke_reset_all .cke_dialog_footer_buttons a.cke_dialog_ui_button_ok {
  color: #fff;
  border-color: #1e5c90;
  background-color: #0071b8;
  background-image: linear-gradient(to bottom,#007bc6,#0071b8);
  text-shadow: 0 1px hsla(0,0%,0%,0.5);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.cke_reset_all a.cke_dialog_ui_button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 1em;
  padding: 0.25rem 1.5em;
  cursor: pointer;
  transition: all 0.1s;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #a6a6a6;
  border-radius: 20em;
  background-color: #f2f1eb;
  background-image: linear-gradient(to bottom,#f6f6f3,#e7e7df);
  text-shadow: 0 1px hsla(0,0%,100%,0.6);
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: antialiased;
}

a.cke_dialog_ui_button_ok {
  color: #fff;
  background: #09863e;
  border: 1px solid #09863e;
}
a.cke_dialog_ui_button {
  display: inline-block;
  display: inline;
  zoom: 1;
  padding: 4px 1px;
  margin: 0;
  text-align: center;
  color: #484848;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  background: #f8f8f8;
  letter-spacing: .3px;
  line-height: 18px;
  box-sizing: border-box;
}

.cke_reset_all .cke_dialog_footer_buttons a.cke_dialog_ui_button span {
  padding: 0;
  text-shadow: 0 1px hsla(0,0%,100%,0.6);
  font-size: 0.875rem;
  line-height: normal;
}

.cke_dialog_footer_buttons a.cke_dialog_ui_button span {
  color: inherit;
  font-size: 12px;
  font-weight: bold;
  padding: 0 12px;
}

span.cke_dialog_ui_button {
  padding: 0 10px;
  cursor: pointer;
}

.cke_dialog:before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.7;
  background: #000;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ephoto_dam_center {
  margin-left: auto;
  margin-right: auto;
}

.ephoto_dam_right {
  margin-left: auto;
}

.ephoto_dam_left {
  margin-right: auto;
}

.calc {
  position: absolute;
  z-index: -23;
  width: 100%;
  margin-block-start: 0;
  opacity: 0.5;
  height: 100%;
  --ck-min-height: none;
  --ck-min-width: none;
  min-width: none;
}

.calc > span {
  height: 100%;
  width: 100%;
  padding: 0 !important;
}

.resizable {
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
  position: absolute;
  z-index: 24;
  bottom: 0;
  right: 0px;
}

.calc_img {
  height: 100%;
  width: 100%;
}

.resizable ::before {
  display: none;
}

.resizable span {
  padding: 0 !important;
  width: 100%;
  height: 100%;
  min-width: 0!important;
  position: absolute !important;
  bottom: 0;
}

.resizable img {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

.resize_img {
  position: relative;
}

.resize_img>p {
  margin-bottom: 0;
}

.resize_img span {
  padding-bottom: 0 !important;
}

.calc img {
  max-height: 100%;
  height: 100%;
}

.ephoto_dam_tooltip_icon {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.ephoto_dam_tooltip_icon svg {
  width: auto !important;
  height: auto !important;
}

.ckeditor_ephoto_dam .ck-widget__type-around__button_before,
.ckeditor_ephoto_dam .ck-widget__type-around__button_after {
  display: none!important;
}

#context-menu {
  background-color: #232429;
  box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
  width: 10em;
  font-size: 1.3rem;
  position: fixed;
  white-space: nowrap;
  font-size: 12px;
  background: #fafbfd;
  border: 1px solid #dedfe4;
  border-left: 2px solid #003ecc;
}

.item {
  padding: 0.3em 1.2em;
  padding-top: 1px;
}

.item:hover {
  background-color: #f5f8ff;
  color: #003ecc;
  cursor: pointer;
}

figure:has(.MovingImage_ephoto_dam)::before {

  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="%23fff"><path d="M16,0H2C.89,0,0,.89,0,2v14c0,1.1,.9,2,2,2h14c1.1,0,2-.9,2-2V2c0-1.11-.9-2-2-2M7,13V5l5,4"/></svg>');
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  z-index: 2;
  opacity: 70%;
}

figure:has(.Sound_ephoto_dam)::before {

  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="%23fff"><path d="M13,6h-3v5.5c0,1.38-1.12,2.5-2.5,2.5s-2.5-1.12-2.5-2.5,1.12-2.5,2.5-2.5c.57,0,1.08,.19,1.5,.5V4h4M16,0H2C.9,0,0,.9,0,2v14c0,1.1,.9,2,2,2h14c1.1,0,2-.9,2-2V2c0-1.1-.9-2-2-2Z"/></svg>');
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  z-index: 2;
  opacity: 70%;
}

figure:has(.InteractiveResource_ephoto_dam)::before {
  content: url('data:image/svg+xml,<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="%23fff"><polygon points="5.5 6.35 9 8.32 12.5 6.35 9 4.38 5.5 6.35" stroke-width="0"/><path d="m16,0H2C.9,0,0,.9,0,2v14c0,1.1.9,2,2,2h14c1.1,0,2-.9,2-2V2c0-1.1-.9-2-2-2Zm-1.71,11.65c0,.22-.12.42-.31.52l-4.65,2.61c-.09.07-.21.11-.34.11s-.24-.04-.34-.11l-4.65-2.61c-.19-.1-.31-.29-.31-.52v-5.29c0-.22.12-.42.31-.52l4.65-2.61c.09-.07.21-.11.34-.11s.24.04.34.11l4.65,2.61c.19.1.31.29.31.52v5.29Z" stroke-width="0"/></svg>');
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  z-index: 2;
  opacity: 70%;
}

.ephoto_dam_caption {
  text-align: center;
}

.ck-content .ckeditor_ephoto_dam  .image-style-align-right{
  float: unset;
  margin-left: auto;
  margin-right: var(--ck-image-style-spacing);
}

.ck-content .ckeditor_ephoto_dam  .image-style-align-left{
  float: unset;
  margin-right: auto;
  margin-left: var(--ck-image-style-spacing);
}

