/*  Cote filtre  */

.article_ephoto_dam > br {
  display: contents;
}

.article_ephoto_dam {
  text-align: center;
}

.ephoto-dam-align-center,
.ephoto-dam-align-left,
.ephoto-dam-align-right,
.ephoto-dam-align-none {
  width: 100%;
}



figure.ephoto-dam-align-center,
figure.ephoto-dam-align-left,
figure.ephoto-dam-align-right,
figure.ephoto-dam-align-none {
  background-color: unset;
}

#ephoto-dam-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0.6;
  cursor: pointer;
}

#ephoto-dam-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  border: 8px solid #fff;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  box-sizing: content-box;
}

#ephoto-dam-wrap img {
  height: 100%;
}

#ephoto-dam-close {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><ellipse cx="10" cy="10.01" rx="7.99" ry="8" fill="%23fff"/><path d="M10,18c-4.41,0-8-3.59-8-8S5.59,2,10,2s8,3.59,8,8-3.59,8-8,8M10,0C4.47,0,0,4.47,0,10s4.47,10,10,10,10-4.47,10-10S15.53,0,10,0m2.59,6l-2.59,2.59-2.59-2.59-1.41,1.41,2.59,2.59-2.59,2.59,1.41,1.41,2.59-2.59,2.59,2.59,1.41-1.41-2.59-2.59,2.59-2.59-1.41-1.41Z"/></svg>');
  width: 26px;
  height: 26px;
  position: absolute;
  right: 0;
  margin-top: -23px;
  margin-right: -23px;
  cursor: pointer;
}

.ephoto-dam-align-center {
  margin-left: auto;
  margin-right: auto;
}

.ephoto-dam-align-right {
  margin-left: auto;
}

.ephoto-dam-align-left {
  margin-right: auto;
}

.ephoto-dam-align-none {
  display: table;
}

.ephoto-dam-zoom {
  cursor: pointer;
}

.ephoto-dam-align-center img,
.ephoto-dam-align-left img,
.ephoto-dam-align-right img {
  display: block;
}

.ephoto-dam-align-center figcaption,
.ephoto-dam-align-left figcaption,
.ephoto-dam-align-right figcaption,
.ephoto-dam-align-none figcaption {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-top: 1px solid #ccc;
  background: #f3f3f3;
  display: block;
  font-size: small;
  margin-top: 0;
}

.article_ephoto_dam {
  width: fit-content;
}

.ephoto-dam-align-center iframe,
.ephoto-dam-align-left iframe,
.ephoto-dam-align-right iframe,
.ephoto-dam-align-none iframe {
  margin: 0;
  max-width: none;
  margin-inline-end: 0 !important;
  margin-bottom: -12px;
}

.ephoto_iframe {
  width: fit-content;
}

.ephoto_iframe > br {
  display: contents;
}

.ephoto_iframe figcaption {
  text-align: center;
}

figure:has(.MovingImage_ephoto_dam)::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="%23fff"><path d="M16,0H2C.89,0,0,.89,0,2v14c0,1.1,.9,2,2,2h14c1.1,0,2-.9,2-2V2c0-1.11-.9-2-2-2M7,13V5l5,4"/></svg>');
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  z-index: 2;
  opacity: 70%;
}

.Sound_ephoto_dam::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="%23fff"><path d="M13,6h-3v5.5c0,1.38-1.12,2.5-2.5,2.5s-2.5-1.12-2.5-2.5,1.12-2.5,2.5-2.5c.57,0,1.08,.19,1.5,.5V4h4M16,0H2C.9,0,0,.9,0,2v14c0,1.1,.9,2,2,2h14c1.1,0,2-.9,2-2V2c0-1.1-.9-2-2-2Z"/></svg>');
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  z-index: 2;
  opacity: 70%;
}

.InteractiveResource_ephoto_dam::before {
  content: url('data:image/svg+xml,<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="#000"><polygon points="5.5 6.35 9 8.32 12.5 6.35 9 4.38 5.5 6.35" stroke-width="0"/><path d="m16,0H2C.9,0,0,.9,0,2v14c0,1.1.9,2,2,2h14c1.1,0,2-.9,2-2V2c0-1.1-.9-2-2-2Zm-1.71,11.65c0,.22-.12.42-.31.52l-4.65,2.61c-.09.07-.21.11-.34.11s-.24-.04-.34-.11l-4.65-2.61c-.19-.1-.31-.29-.31-.52v-5.29c0-.22.12-.42.31-.52l4.65-2.61c.09-.07.21-.11.34-.11s.24.04.34.11l4.65,2.61c.19.1.31.29.31.52v5.29Z" stroke-width="0"/></svg>');
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  z-index: 2;
  opacity: 70%;
}

@media (min-width: 43.75rem) {
  .text-content p, .cke_editable p {
      margin-block-start: 0;
      margin-block-end: 0;
      
  }
}