.field--type-ephoto-dam-field .form-type--textfield {
  display: inline-block;
  white-space: nowrap;
  min-width: 2em;
  max-width: 60%;
}

.field--type-ephoto-dam-field .field-multiple-drag {
  display: none;
}

.field--type-ephoto-dam-field .tabledrag-toggle-weight-wrapper {
  display: none;
}

.field--type-ephoto-dam-field tr {
  border-bottom: 0;
  background-color: unset!important;
}

.ephoto-dam-field-field:read-only,
.ephoto-dam-field-field:read-only:focus {
  box-shadow: none!important;
  border: 0;
  padding: 0;
  background-color: unset;
}

.ephoto-dam-field-identifier-field:read-only,
.ephoto-dam-field-identifier-field:read-only:focus {
  box-shadow: none!important;
  border: 0;
  padding: 0;
  appearance: textfield;
  background-color: #aaaaaa20 !important;
  width: 10em!important;
}

.ephoto-dam-field-url-field:read-only {
  background-color: #aaaaaa20 !important;
}

.ephoto-dam-field-imagesize-field {
  text-align: right;
}

.ephoto-dam-field-version-field {
  text-align: left;
  width: unset;
}

.ephoto-dam-field-version-prefix {
  margin-left: 1.5em;
}

.ephoto-dam-field-url-suffix,
.ephoto-dam-field-imagesize-suffix {
  padding-right: 0;
}

.ephoto-dam-field-thumbnail-image {
  width: 4.5em;
  height: 4.5em;
  object-fit: cover;
  border-radius: 3px;
  margin: 1.5em 0.5em 0 0;
  float: left;
  background: no-repeat center #aaa url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>');
}

.ephoto-dam-field-thumbnail-version {
  margin: 1em 0.5em 0 0;
}

.ephoto-dam-field-caption-field {
  width: 44em !important;
  height: 7em;
  resize: none;
  box-shadow: none !important;
  border: 0 !important;
  background: none !important;
  padding: 0 !important;
  background-color: #aaaaaa20 !important;
}

.ephoto-dam-field-button {
  margin: 0.5em 0 0 0 !important;
  padding-left: 2.7em !important;
  padding-right: 1em !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.51 43.7" fill="%23000000"><rect x="31.09" y="19.47" width="2.24" height="4.75" rx="1.12" ry="1.12" transform="translate(-6.01 29.18) rotate(-45)"/><g><path d="m63.08,22.06c-.58-.57-1.51-.57-2.09,0l-13.45,13.51c-6.89,6.89-18.11,6.89-24.99.02l-5.65-5.84c-.57-.59-1.5-.6-2.09-.03-.59.57-.6,1.5-.03,2.09l5.67,5.85c4.02,4.02,9.3,6.03,14.59,6.03s10.57-2.01,14.59-6.04l13.45-13.52c.57-.58.57-1.51,0-2.09Z"/><path d="m58.67,15.97l-15.28,15.35c-4.6,4.6-12.09,4.6-16.69,0l-5.83-5.83c-.58-.58-1.51-.58-2.09,0s-.58,1.51,0,2.09l5.83,5.83c2.88,2.88,6.65,4.31,10.43,4.31s7.56-1.44,10.43-4.31l15.29-15.36c.57-.58.57-1.51,0-2.09-.58-.57-1.51-.57-2.09,0Z"/><path d="m38.99,26.87c-2.17,2.17-5.71,2.17-7.88,0l-5.8-5.8c-.58-.58-1.51-.58-2.09,0s-.58,1.51,0,2.09l5.8,5.8c1.61,1.61,3.75,2.5,6.03,2.5s4.42-.89,6.03-2.5l19.69-19.76h0s0-.01,0-.01l.59-2.67-2.67.59-.02.04-19.67,19.73Z"/><path d="m15.97,8.13c3.34-3.34,7.78-5.18,12.5-5.18s9.16,1.84,12.49,5.16l5.65,5.84c.57.59,1.5.6,2.09.03.59-.57.6-1.5.03-2.09l-5.67-5.85c-3.9-3.9-9.08-6.04-14.59-6.04s-10.69,2.15-14.59,6.05L.43,19.56c-.57.58-.57,1.51,0,2.09.29.29.66.43,1.04.43s.76-.15,1.05-.43l13.45-13.51Z"/><path d="m44.68,16.17l-5.83-5.83c-5.73-5.73-15.05-5.73-20.78,0L2.79,25.7c-.55.55-.55,1.45,0,2,.28.27.64.41,1,.41s.73-.14,1-.42l15.29-15.35c4.62-4.62,12.15-4.62,16.77,0l5.83,5.83c.55.55,1.45.55,2,0,.55-.55.55-1.45,0-2Z"/><path d="m24.48,16.8c1.06-1.06,2.48-1.65,3.99-1.65s2.92.59,3.99,1.65l5.8,5.8c.55.55,1.45.55,2,0,.55-.55.55-1.45,0-2l-5.8-5.8c-1.6-1.6-3.72-2.48-5.99-2.48s-4.39.88-5.99,2.48L2.79,34.55h0s0,0,0,0l-.56,2.57,2.56-.58h0s0,0,0,0l19.69-19.75Z"/></g></svg>') !important;
  background-size: 1.75em !important;
  background-position: 0.5em 0.9em  !important;
  background-repeat: no-repeat;
  display: block !important;
}

.ephoto-dam-field-file-button {
  margin: 1.8em 0 0 0 !important;
  display: inline-block !important;
}

.ephoto-dam-field-hidden {
  display: none !important;
}
