.ephoto-dam-field-preview-container {
  display: flex;
  background-color: #e7edf1;
  padding: 0 1em;
}

.ephoto-dam-field-preview-thumbnail {
  object-fit: contain;
  max-width: 140px;
  max-height: 140px;
  flex-basis: 140px;
}

.ephoto-dam-field-preview-content {
  padding: 10px 0;
  margin-left: 1em;
}

.ephoto-dam-field-preview-url {
  margin-bottom: 0.3em;
}

.ephoto-dam-field-preview-bubble {
  background-color: #ddd;
  border-radius: 0.2em;
  padding: 0.3em 1em;
  display: inline-block;
  margin-right: 1em;
}

.ephoto-dam-field-preview-caption {
  padding: 0.3em 1em 0.3em 0;
}
